#bypass_sites label, #add_site label, #excluded_sites label {
  display: block;
}
body {
  font-size: 100%;
}
* {
  box-sizing: border-box;
}
a {
  color: black;
}
@media (prefers-color-scheme: dark) {
  body, button, a, input, select, textarea {
   background-color: #313131;
   color: #bfbfbf;
  }
}
